*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}
.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}
.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
.navlist{
    display: flex;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
    background-color: aliceblue;
}